@import "variables";
@import "mixins";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  font-family: $font;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

// Helper Classes
.flex {
  display: flex;

  &-fd-rr {
    flex-direction: row-reverse;
  }

  &-fd-c {
    flex-direction: column;
  }

  &-fd-cr {
    flex-direction: column-reverse;

    &-mobile {
      @include breakpoint-down(78.125em) {
        flex-direction: column-reverse;
      }
    }
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-fe {
    justify-content: flex-end;
  }

  &-ai-c {
    align-items: center;
  }

  &-no-mobile {
    @include breakpoint-down(53.0625em) {
      display: block;
    }
  }
}

.darken {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  z-index: 3;
  pointer-events: none;
}

.hidden {
  display: none;

  &-desktop {
    @include breakpoint-up(53.125em) {
      display: none;
    }
  }

  &-mobile {
    @include breakpoint-down(53.0625em) {
      display: none;
    }
  }
}

.no-select {
  user-select: none;
}

.button {
  border-radius: 0.625em;
  padding: 0.75em 1.375em;
  border: 0.125rem solid;
  width: 8.75rem;
  transition: all 0.2s ease-in;

  &--light {
    color: $gray;
    background-color: $white;
    border-color: $gray;
  }

  &--dark {
    color: $white;
    background-color: $black;
    border-color: $black;
  }

  &:hover {
    background-color: $white;
    border-color: $black;
    color: $black;
  }
}
